<%- include ("./partials/_header") %>

    <div class="container mt-5">

        <div class="row">
            <!-- FORMULARIO-->
            <div class="col-md-5">
                <div class="card">
                    <p class="subtitle mb-0">Agregar Operación</p>
                    <div class="card-body">
                        <form action="/addOperacion/<%=usu[0]._id%>" method="post">
                            <input class="form-control" style="display: none;" type="text" name="planta" value="<%=usu[0].planta%>" required />

                            <div class="form-group">
                                <label for="nombremodelo">Operación:</label>
                                <input id="nombremodelo" class="form-control" type="text" name="nombre" placeholder="Nombre de Operación" required />
                            </div>
                            <div class="form-group">
                                <label for="unidad">Defectos:</label>
                                <select class="form-control uni mb-3" name="defectos" style="height: 33px;" required>
                                <option value="" disabled selected hidden>--</option>
                                 <% for (var i =0; i < uni.length; i++)  {     %>
                                 <option value="<%=uni[i].nombre%>"><%= uni[i].nombre %></option>
                                 <%  }  %>
                                </select>
                                <div class="d-flex justify-content-between" id="botones">
                                    <div class="d-flex flex-col ">
                                        <button type="button" id="mas" class="btn btn-success btn-circle btn-sm mas"><i class="bi bi-plus-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="col">
                                    <button class="myButton" id="agregar" type="submit">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="card">
                    <p class="subtitle mb-0">Editar Operación</p>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Operación:</label>
                            <select id="select-state" class="desc form-control" name="descripcion">
                                    <option value="" disabled selected hidden>Seleccionar</option>
                                    <% for (var i =0; i < tasks.length; i++)  {     %>
                                    <option value="<%=tasks[i].nombre%>"> <%=tasks[i].nombre%> </option>
                                    <%  }  %>
                                </select> </div>


                        <div class="form-group" id="unidades">

                        </div>

                        <div class="form-group row text-center">
                            <div class="col">
                                <button class="myButton agregarr">Editar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--  TABLA CON LOS DATOS-->
            <div class="col-md-7 mt-md-0 mt-5 mb-5">
                <table class="table table-bordered table-hover">
                    <thead class="text-white tabla">
                        <tr>
                            <th>#</th>
                            <th>Modelo</th>
                            <th>Defectos</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var cont = 0; %>
                            <% for (var i = tasks.length-1; i >= 0; i--)  {     %>
                                <tr>
                                    <td class="align-middle">
                                        <%= cont+1 %>
                                    </td>
                                    <td class="align-middle"> <strong> <%= tasks[i].nombre %> </strong> </td>
                                    <td class="align-middle"> <strong><%= tasks[i].defectos %></strong> </td>
                                    <td class="align-middle">
                                        <a href=/deleteOperacion/<%=tasks[i]._id %> class="btn btn-danger" href="turn">Eliminar </a>
                                    </td>
                                </tr>
                                <%  cont++;}  %>
                                    <!--  TABLA CON LOS DATOS-->
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script>
        var check = 0
        var check2 = -1

        $(document).ready(function() {
            $('select').selectize({
                sortField: 'text'
            });
        });
        $(document).on('click', '.mas', function() {
            check++;
            var html = '<div class = "quitar mt-2"><div class="form-group"><select class="form-control uni" name="defectos" style="height: 33px;" required><option value="" disabled selected hidden>--</option><% for (var i =0; i < uni.length; i++)  {     %><option value="<%=uni[i].nombre%>"><%= uni[i].nombre %></option><%  }  %></select></div></div> <div class="d-flex justify-content-between" id="botones"><div class="d-flex flex-col "><button type="button" id="mas" class="btn btn-success btn-circle btn-sm mas"><i class="bi bi-plus-lg"></i></button></div><div class="d-flex flex-col-reverse "><button type="button" id="menos" class="btn btn-danger btn-circle btn-sm menos"><i class="bi bi-x-lg"></i></button></div></div>';
            $(this).parent().parent().parent().append(html);
            document.getElementById("botones").remove();
            $('select').selectize({
                sortField: 'text'
            });
        });


        $(document).on('click', '.agregarr', function() {
            editProducto()
        });


        $(document).on('click', '.mass', function() {
            check2++;
            var html = '<div class = "quit mt-2"><div class="form-group"><select class="form-control uni" name="editPieza" style="height: 33px;" required><option value="" disabled selected hidden>--</option><% for (var i =0; i < uni.length; i++)  {     %><option value="<%=uni[i].nombre%>"><%= uni[i].nombre %></option><%  }  %></select></div></div> <div class="d-flex justify-content-between" id="botoness"><div class="d-flex flex-col "><button type="button" id="mas" class="btn btn-success btn-circle btn-sm mass"><i class="bi bi-plus-lg"></i></button></div><div class="d-flex flex-col-reverse "><button type="button" id="menoss" class="btn btn-danger btn-circle btn-sm menoss"><i class="bi bi-x-lg"></i></button></div></div>';
            $(this).parent().parent().parent().append(html);
            document.getElementById("botoness").remove()
            $('select[name = editPieza]').selectize({
                sortField: 'text'
            });
        });

        $(document).on('click', '.menos', function() {
            quitar = document.getElementsByClassName("quitar")
            check--;
            if (check == 0)
                document.getElementById("menos").remove();
            quitar[quitar.length - 1].remove();
        });

        $(document).on('click', '.menoss', function() {
            quitar = document.getElementsByClassName("quit")
            check2--;
            console.log(check2)

            if (check2 == 0)
                document.getElementById("menoss").remove();
            quitar[quitar.length - 1].remove();
        });


        var test = `<%- JSON.stringify(tasks) %>`;
        var obj = JSON.parse(test);

        $(document).on('change', '.desc', function() {
            var index
            var producto = document.getElementsByName("descripcion")[0].value
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].nombre == producto) {
                    index = i;
                    break;
                }
            }
            if (document.contains(document.getElementById("botoness"))) {
                document.getElementById("botoness").remove();
            }
            if (document.contains(document.getElementById("eliminar"))) {
                document.getElementById("eliminar").remove();
            }
            var unidad = document.getElementById("unidades")
            check2 = -1
            console.log(obj[0].defectos.length)
                // unidad[index2].value = obj[index].unidadCosteo
            var html = '<div id= "eliminar"><div class="form-group"><label for="unidad">Defectos:</label><br>'
            for (var i = 0; i < obj[index].defectos.length; i++) {
                html = html + '<div class = "quit"><div class="form-group"><select class="form-control uni" name="editPieza" style="height: 33px;" required><option value="' + obj[index].defectos[i] + '" selected hidden>' + obj[index].defectos[i] + '</option><% for (var i =0; i < uni.length; i++)  {     %><option value="<%=uni[i].nombre%>"><%= uni[i].nombre %></option><%  }  %></select></div></div>';
                check2++
            }
            unidad.innerHTML += html

            if (Object.keys(obj[index].defectos).length < 2)
                unidad.innerHTML += '<div class="d-flex justify-content-between" id="botoness"><div class="d-flex flex-col "><button type="button" class="btn btn-success btn-circle btn-sm mass"><i class="bi bi-plus-lg"></i></button> </div></div></div>'
            else
                unidad.innerHTML += '<div class="d-flex justify-content-between" id="botoness"><div class="d-flex flex-col "><button type="button" id="mas" class="btn btn-success btn-circle btn-sm mass"><i class="bi bi-plus-lg"></i></button></div><div class="d-flex flex-col-reverse "><button type="button" id="menoss" class="btn btn-danger btn-circle btn-sm menoss"><i class="bi bi-x-lg"></i></button></div></div></div>';
            $('select[name = editPieza]').selectize({
                sortField: 'text'
            });
        });

        function capitalizeTheFirstLetterOfEachWord(words) {
            var separateWord = words.toLowerCase().split(' ');
            for (var i = 0; i < separateWord.length; i++) {
                separateWord[i] = separateWord[i].charAt(0).toUpperCase() +
                    separateWord[i].substring(1);
            }
            return separateWord.join(' ');
        }

        function editProducto() {
            var url = '/editarOperacion/<%=usu[0]._id%>/';

            var producto = document.getElementById("select-state").value
            var piezas = document.getElementsByName("editPieza")
            var arrPiezas = []
            for (var i = 0; i < piezas.length; i++) {
                arrPiezas.push(piezas[i].value)
            }
            console.log(arrPiezas)
            let data = {
                nombre: producto,
                defectos: arrPiezas,
                planta: '<%=usu[0].planta%>'
            }
            let settings = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch(url, settings)
                .then(response => {
                    if (response.ok) {

                        return response.text();
                    }
                    throw new Error(response.statusText);
                })
                .then(responseJSON => {
                    alert('Se ha editado el modelo con éxito');
                    location.reload()
                })
                .catch(err => {
                    alert(err.message)
                })
        }
    </script>
    <script src="/js/validate.js"></script>

    <%- include ("./partials/_footer") %>