<%- include ("./partials/_header") %>

    <p class="subtitle3">Alta Producto No Conforme</p>

    <!-- FORMULARIO-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col px-3" style="max-width: 750px;">
                <div class="card mb-5">
                    <div class="card-header">
                        <form>
                            <div class="form-group row justify-content-between">
                                <div class="col-sm-5">
                                    <label for="proceso">Proceso del defecto:</label>
                                    <select id="proceso" class="form-control" name="Proceso" placeholder="Proceso">
                                        <option value="" disabled selected hidden>Seleccionar proceso</option>
                                        <% for (var i =0; i < oper.length; i++)  {     %>
                                        <option value="<%=oper[i].nombre %>"> <%= oper[i].nombre %></option>
                                        <%  }  %>
                                    </select>
                                </div>
                                <div class="col-sm-5" style="max-width: 200px;">
                                    <label for="fechaform">Fecha:</label>
                                    <input class="form-control" type="date" name="Fecha" placeholder="Fecha" id="fechaform">
                                </div>
                            </div>

                            <div class="form-group row justify-content-between">
                                <div class="col-sm-5">
                                    <label for="folio">Folio:</label>
                                    <input class="form-control" type="text" name="Folio" placeholder="Folio" id="folio">
                                    <label for="orden">No. orden:</label>
                                    <input class="form-control" type="text" name="Orden" placeholder="Orden de Producción" id="orden">
                                </div>

                                <div class="col-sm-5">
                                    <label for="modelo">Modelo:</label>
                                    <select id="modelo" class="form-control" name="Modelo" placeholder="Modelo">
                                        <option value="" disabled selected hidden>Modelo</option>
                                        <% for (var i =0; i < mod.length; i++)  {     %>
                                        <option value="<%= mod[i].nombre %> "> <%= mod[i].nombre %> </option>
                                        <%  }  %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row justify-content-between">
                                <div class="col-sm-6">
                                    <label for="seleccion">Seleccione los Defectos:</label>
                                    <select id="seleccion" class="selectpicker" multiple data-live-search="true" class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <label for="cantidad">Cantidad:</label>
                                    <input id="cantidad" class="form-control" type="number" name="Cantidad" placeholder="0" style="width: fit-content;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col">
                                    <label for="comentarios">Comentarios:</label>
                                    <textarea id="comentarios" class="form-control resumen mb-4" name="Comentarios" cols="80" rows="5" placeholder="Sus comentarios aquí"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label for="seleccionRet">Retrabajable:</label>
                                    <select id="seleccionRet" class="form-control" name="Retrabajable" placeholder="Seleccionar" style="width: fit-content;">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        <option value="Menor">Si</option>
                                        <option value="Mayor">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row justify-content-center pb-3 pt-4">
                                <div class="col p-0 px-3">
                                    <a class="myButton btn-red" href="/inicio">Salir</a>
                                </div>
                                <div class="col p-0 px-3">
                                    <button id="btnSubmit" class="myButton" type="button">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hidden>
        <select hidden>
            <% for (var i =0; i < defOp.length; i++)  {     %>
                <option hidden class="<%=defOp[i].operacion%>" value="<%=defOp[i].defecto%>"><%= defOp[i].defecto %></option>
            <%  }  %>
        </select>
    </div>
    <script>
        function getModel() {
            var x = document.getElementById("model").value;
            for (var i = 0; i < defOp.length; i++) {
                if (defOp.nombre == x) {
                    alert(defOp.defecto);
                }
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            $(document.getElementById("modelo")).selectize({
                sortField: 'text'
            });
        });
    </script>
    <script>
        let sel = document.getElementById( 'proceso' );
        let select = document.getElementById('seleccion');
        sel.addEventListener( 'change', ( event ) => {
            event.preventDefault();
            $(".selectpicker").selectpicker();
            var array = [];
            for(let i = 0; i < document.getElementsByClassName(sel.value).length; i++) {
                let outerHTML = document.getElementsByClassName(sel.value)[i].outerHTML;
                var strDef = outerHTML.search(">");
                var strDef2 = outerHTML.search("/");
                var defecto = outerHTML.substring(strDef+1, strDef2-1);
                array.push(defecto);
            }
            console.log(select.innerHTML);
            console.log("change.");
            select.innerHTML = ``;
            for( let i = 0; i < array.length; i++ ) {
                let opt = document.createElement('option');
                opt.value = array[i];
                opt.innerText = array[i];
                select.add(opt);
            }
            $('.selectpicker').selectpicker('refresh');
            console.log(select);
        })
    </script>
</body>
<script src="../../js/home.js"></script>
<script src="../../js/altaPNC.js"></script>
</html>