<%- include ("./partials/_header") %>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link disabled" href="/inspeccionProceso">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/escuadradora/">Escuadradora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/enchapadora/">Enchapadora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/taladro/">Taladro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/sacabocados/">Sacabocados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/armado1/">Armado1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/armado2/">Armado2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/armado3/">Armado3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/acabados/">Acabados</a>
                </li>
            </ul>
        </div>
        <div class="card-body">

            <form action="/addArmado3/<%= ins[ins.length-1].folio %>" method="post">

                <div class="flexx">


                    <div class="form-group">
                        <select id="modelo" class="form-control" name="modelo" placeholder="Modelo" style="width: 200px; margin-top: 25px;" onchange="change()">
                            <option value="" disabled selected hidden>Modelo</option>
                            <% for (var i =0; i < mod.length; i++)  {     %>

                                <option value="<%= mod[i].nombre %>">  <%= mod[i].nombre %> </option>

                                <%  }  %>
                        </select>
                    </div>
                    <div id="divPiezas" class="form-group">
                        <select id="pieza" class="form-control" name="pieza" placeholder="Pieza" style="width: 200px; margin-top: 25px;">
                                <option value="" disabled selected hidden>Pieza</option>
                        </select>
                    </div>

                    <div class="form-group" style="width: 200px; margin-top: 25px;">

                        <select class="form-control" name="ins1">
                        <option value="" disabled selected hidden>Inspección</option>
                        <option value="Aceptado">Aceptado</option>
                        <option value="Rechazado">Rechazado</option>
                    </select>
                    </div>

                    <div>


                        <div class="flex5">

                            <label for="name"> Selecciona los Defectos:</label >
                </div>
                <div class="flex">

                    <div class="form-group">
                        <select class="selectpicker" multiple data-live-search="true" class="form-control" name = "def1" >
                            <% for (var i =0; i < defOp.length; i++)  {     %>

                                <option value="<%=defOp[i].defecto%>">  <%= defOp[i].defecto %> </option>

                                <%  }  %>
                        </select>
                    </div>  </div>

            </div>
          



        </div>
        <a class="btn btn-primary" type="submit" style="margin-left: 10%;" onclick="this.parentNode.submit()">
            Siguiente
        </a>
    </form>
    </div>
    <!-- FORMULARIO-->
</div>

    <div class="flex7" style="margin-top: 10px;margin-right: 18%;">
        <a href="/inicio/" class="btn btn-danger">Salir</a>
</div>
<div hidden>
    <select id="busqueda" hidden class="form-control" placeholder="Pieza" style="width: 200px">
        <% for (var i =0; i < pM.length; i++)  {     %>

            <option class="<%=pM[i].modelo%>"><%=pM[i].pieza%></option>

            <%  }  %>
    </select>
</div>
<script>
    $(document).ready(function() {
        $(document.getElementsByName("modelo")).selectize({
            sortField: 'text'
        });
    });

    $(document).ready(function() {
        $(document.getElementsByName("pieza")).selectize({
            sortField: 'text'
        });
    });
</script>
<script>
    function change() {
        let sel = document.getElementById( 'modelo' );
        var array = [];
        let piezas = document.getElementsByClassName(sel.value);
        for(let i = 0; i < piezas.length; i++) {
            let outerHTML = piezas[i].outerHTML;
            var strDef = outerHTML.search(">");
            var strDef2 = outerHTML.search("/");
            var defecto = outerHTML.substring(strDef+1, strDef2-1);
            array.push(defecto);
        }
        let someHTML = ``;
        for( let i = 0; i < array.length; i++ ) {
            someHTML += `<option value="${array[i]}">${array[i]}</option>`;
        }
        let divPiezas = document.getElementById( 'divPiezas' );
        divPiezas.innerHTML = `
        <select id="pieza" class="form-control" name="pieza" placeholder="Pieza" style="width: 200px; margin-top: 25px;">
            ${someHTML}
        </select>
        `;
    }
</script>


    <%- include ("./partials/_footer") %>