<%- include ("./partials/_header") %>

    <p class="subtitle3">Defectos en Proceso</p>

    <!-- FORMULARIO-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col px-3" style="max-width: 750px;">
                <div class="card mb-5">
                    <div class="card-header">
                        <form action="/defProceso/" method="POST">

                            <div class="form-group row justify-content-between">
                                <div class="col-sm-5">
                                    <label for="foliodefectos">Folio:</label>
                                    <input id="foliodefectos" class="form-control" type="text" name="folio" placeholder="Folio">
                                </div>
                                <div class="col-sm-5" style="max-width: 200px;">
                                    <label for="fechadefecto">Fecha:</label>
                                    <input id="fechadefecto" class="form-control" type="date" name="fecha" placeholder="Fecha">
                                </div>
                            </div>

                            <div class="form-group row justify-content-between">
                                <div class="col-sm-6">
                                    <label for="dptodefecto">Departamento</label>
                                    <select id="dptodefecto" class="form-control" name="departamento">
                                    <option value="" disabled selected hidden>Seleccionar</option>
                                    <% for (var i =0; i < dep.length; i++)  {     %>
                                    <option value="<%= dep[i].nombre %>"> <%= dep[i].nombre %> </option>
                                    <%  }  %>
                                </select>
                                </div>
                                <div class="col-sm-5">
                                    <label for="opdefecto">Operación:</label>
                                    <select id="opdefecto" class="form-control" name="operacion">
                                    <option value="" disabled selected hidden>Seleccionar</option>
                                    <% for (var i =0; i < ope.length; i++)  {     %>
                                    <option value="<%= ope[i].nombre %>"> <%= ope[i].nombre %> </option>
                                    <%  }  %>
                                </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="productodefecto">Producto:</label>
                                    <select id="productodefecto" class="form-control" name="producto" placeholder="Producto">
                                    <option value="" disabled selected hidden>Producto</option>
                                    <% for (var i =0; i < prod.length; i++)  {     %>
                                    <option value="<%= prod[i].nombre %>"> <%= prod[i].nombre %> </option>
                                    <%  }  %>
                                </select>
                                </div>
                            </div>

                            <div class="form-group row justify-content-between">
                                <div class="col-sm-6">
                                    <label id="defecto" for="productodefecto">Defecto:</label>
                                    <select id="defecto" class="form-control" name="defecto" placeholder="Defecto">
                                    <option value="" disabled selected hidden>Defecto</option>
                                    <% for (var i =0; i < def.length; i++)  {     %>
                                    <option value="<%= def[i].nombre %>"> <%= def[i].nombre %> </option>
                                    <%  }  %>
                                </select>
                                </div>
                                <div class="col-sm-5">
                                    <label for="cantidaddefecto">Cantidad:</label>
                                    <input id="cantidaddefecto" class="form-control" type="number" name="cantidad" placeholder="Cantidad">
                                </div>
                            </div>

                            <div class="form-group row justify-content-center">
                                <div class="col p-0 px-3">
                                    <a class="myButton btn-red" href="/Inicio">Salir</a>
                                </div>
                                <div class="col p-0 px-3">
                                    <button class="myButton" type="submit">Enviar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('select').selectize({
                sortField: 'text'
            });
        });
    </script>

    <%- include ("./partials/_footer") %>